* {
  box-sizing: border-box;
  margin:0;
  padding:0;
 }

body {
  font-family: "Cabin", sans-serif;
  background: #fc4a1a;   /*fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7b733, #fc4a1a);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #1d1d1d;
}


#signup, #signin{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  margin: auto 5%;
}

#logo{
  width: 100%;
  height: auto;
}

#signup-form, #form-signin {
  display: flex;
  flex-direction:column;
  margin: 1em 0;
}

#signup-form p, #form-signin p{
  text-align: center;
}

#signup-form input, #form-signin input {
  padding: 0.7em;
  font-size: 1em;
  border: none;
  background-color: rgba(151, 151, 151, 0.47);
  border-radius: 10px;
  width: 100%;
  margin: 5px 0px;
}

input::placeholder {
  color: white;
}

.container-btn-google {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.btn-signup, .btn-signin-google {
  padding: 0.7em;
  font-size: 1em;
  margin: 10px 0px;
  /*  padding: 10px 5px; */
  background-color: rgb(36, 33, 33, 0.5);
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

span{
  color:white;
}
.container-musicians{
  flex-basis: 50%;
}

.hide {
  display: none;
}

/* Style en mobile timeline */

  #template-timeline{
    background: white;
    height: 10vh;
  }

  .nav-desktop {
    display:none;
  }

header {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7b733, #fc4a1a); 
  display: flex;
  justify-content: center;
}

#logo-timeline{
  width: 30%;
  padding: 0.5em;
}

footer ul{
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f86f13, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f86f13, #fc4a1a); 
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type:none;
  position:fixed;
  bottom:0;
  width:100%;
  padding: 0.5em;
}


.timeline{
  background: white;
  height: 100vh;
}
li{

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  color: white;
}

li .fa {
  font-size: 1.5em;
  color: white;
}

footer p {
  display:none;
}


/* INICIO DE MEDIA QUERYS  */

@media only screen and (min-width:1025px){

  #signup, #signin{
      flex-direction: row-reverse;
      justify-content: spa;
      align-items: center;
      align-content: space-between;
      flex-wrap: wrap;
      border: 0;
      margin: 0;
      
  }

  #container-desktop{    
      background: white;
      border-radius: 3%;
      color: black;
      padding: 0px 2rem;
      flex-basis: 1;
      padding: 2em 3.5em;
      text-align: center;
  }
  
  #container-desktop label{
    text-align: left;
  }

  input::placeholder {
      color: rgb(78, 69, 69);
  }

  .btn-signin-google, .btn-signup{
      width: 100%;
      background-color: #fc4a1a;
      font-weight: bold;
  }

  .signup-view, .signin-view{
    color: #fc4a1a;
    font-weight: bold;
  }
  .container-musicians{
      flex-basis: 0;
      padding: 10% 0;
  }

  #signup-form input, #form-signin input {
    background-color: #ECD38F;
  }

  #logo{
      content: url(images/logo_temporal.png);
      width: 100%;
      max-width: 500px;
      height: auto;
  }

  .nav-desktop{
    display:block;
    justify-content: space-between;
    flex-basis: 50%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
  }


  
  #logo-timeline{
    width: 10em;
  }

  header ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style-type:none;
    flex-direction: row;
  }

  footer p {
    display:block;
  }

  footer{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f86f13, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f86f13, #fc4a1a);
    position:fixed;
    height:5%;
    bottom:0;
    width:100%;
  }
  footer ul{
    display:none;
  }
}   

