* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
 }

body {
  font-family: "Cabin", sans-serif;
  background: rgb(113, 0, 255);
  background: linear-gradient(90deg, rgb(91, 0, 238) 0%,rgba(193, 0, 242, 1) 82%);
  width: 100%;
  height: 10vh;
  color: white;
}


#signup, #signin{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 1.2em;
  width: 90%;
  margin: auto 5%;
}
#logo{
  width: 100%;
  height: auto;
}

#signup-form, #form-signin {
  display: flex;
  flex-direction:column;
  width: 100%;
  margin: 1em 0;
}

#signup-form p, #form-signin p{
  text-align: center;
}

#signup-form input, #form-signin input {
  padding: 0.7em;
  font-size: 1em;
  border: none;
  background-color: rgba(151, 151, 151, 0.47);
  border-radius: 10px;
  width: 100%;
  margin: 5px 0px;
}

input::placeholder {
  color: white;
}

.container-btn-google {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.btn-signup, .btn-signin-google {
  padding: 0.7em;
  font-size: 1em;
  margin: 20px 0px;
  /*  padding: 10px 5px; */
  background-color: rgb(36, 33, 33, 0.5);
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

span{
  color:white;
}
.container-musicians{
  width: 100%;
  height: auto;
}

#musicians{
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

/* INICIO DE MEDIA QUERYS  */

@media only screen and (min-width:1025px){

  #signup, #signin{
    box-sizing: border-box;
      flex-direction: row-reverse;
      align-content: center;
      justify-content: center;
      text-align: center; 
  }

  #container-desktop{
      box-sizing: border-box;
      background: white;
      border-radius: 3%;
      color: black;
      
  }   

  input::placeholder {
      color: rgb(78, 69, 69);
  }

  .btn-signin-google, .btn-signup{
      width: 100%;
      background-color: #a92066;
      font-weight: bold;
  }


  .container-musicians{
      width: 50%;
      padding: 10% 0;
  }

  #musicians{
      width: 100%;
      height: 90vh;
  }

  #logo{
      content: url(images/logo1.png);
      width: 100%;
      height: auto;
  }

}   

