* {margin: 0; padding: 0;}

body {
  font-family: "Cabin", sans-serif;
  background: rgb(113, 0, 255);
  background: linear-gradient(90deg, rgb(91, 0, 238) 0%,rgba(193, 0, 242, 1) 82%);
  width: 100%;
  height: 100%;
}
.container-logo{
  width: 100%;
  height: 10vh;
}

#logo {margin-bottom: 5px;}

.container-form {
  width: 100%;
  box-sizing: border-box;
  color: rgb(235, 235, 235);
}

.container-form p, .btn-signin-google{
  text-align: center;
  margin: 5px;
}

#signup-form {
  display: flex;
  flex-direction:column;
  margin-top:-50px;
}

#signup-form input {
  padding: 10px;
  background-color: rgba(151, 151, 151, 0.47);
  border: none;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

input::placeholder {
  color: white;
}

.btn-signup, .btn-signin {
  margin-top: 20px;
}

.btn-signup, .btn-signin {
  margin: 3px 0px;
  padding: 10px 5px;
  background-color: rgb(36, 33, 33, 0.5);
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

.container-btn-google {
  width: auto;
  display:flex;
  align-items: center;
  /* margin: 0px 30px 0px 30px; */
  
}


.btn-signin-google{
  width:100%;
  margin: 3px 30px;
  padding: 10px 5px;
  background-color: rgb(36, 33, 33, 0.5);
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

span{
  color:#a92066;
}
.container-musicians{
  display: flex;
  align-items:center;
}

#musicians{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

input::placeholder {
  color: rgb(235, 235, 235);
}


/* INICIO DE MEDIA QUERYS  */

@media only screen and (min-width:1025px){
  body{
      display: flex;
      align-items: center;
      font-size: 1.5em;
      text-align: center;
      flex-direction: row-reverse;
  }
  .container-form{
      justify-content: space-around;
      background: white;
      margin: 5%;
      width: 50%;
      border-radius: 3%;
      color: black;
      padding: 0 30px 60px 30px;
  }   
  #signup-form {
      padding: 10px;
      align-items: center;
  }

  #signup-form input{
      width: 100%;
  }

  #signup-form label{
      text-align: left;
  }

  input::placeholder {
      color: rgb(78, 69, 69);
      font-size: 20px;
  }

  .btn-signin-google, .btn-signup, .btn-signin{
      margin:5%;
      height: 42px;
      width: 500px;
      font-size: 20px;
      padding: 1% 0;
      background-color: #a92066;
      font-weight: bold;
  }

  .btn-signup, .btn-signin{
      margin-top: 25px;
  }

  .btn-signin-google{
      margin-top: 10px;
      margin-left: 30px;
  }

  .container-musicians{
      width: 500px;
  }

  #musicians{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  #logo{
      content: url(images/logo1.png);
  }

}   

